body {
  background-color: #0273cf;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%230273cf' cx='50' cy='0' r='50'/%3E%3Cg fill='%23007eda' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%230089e4' cx='50' cy='100' r='50'/%3E%3Cg fill='%230093ea' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23009dee' cx='50' cy='200' r='50'/%3E%3Cg fill='%2300a7ef' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300b0ee' cx='50' cy='300' r='50'/%3E%3Cg fill='%2300b9e9' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300c1e2' cx='50' cy='400' r='50'/%3E%3Cg fill='%2300cad8' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300d1cc' cx='50' cy='500' r='50'/%3E%3Cg fill='%2300d9be' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300e0ae' cx='50' cy='600' r='50'/%3E%3Cg fill='%2300e69d' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300ec8b' cx='50' cy='700' r='50'/%3E%3Cg fill='%2300f278' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%235ff665' cx='50' cy='800' r='50'/%3E%3Cg fill='%238bfa51' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b0fd3c' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d3ff25' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f5ff04' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

a {
  color: black;
  transition: all .2s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: black;
  font-size: larger;
  text-decoration: none;
}

.header {
  h1 {
    font-size: 70px;
    font-weight: bold;
  }
  h2 {
    font-size: 30px;
  }
}

.links {
  a {
    font-size: 50px;
    transition: all .2s ease-in-out;
  }
  a:hover {
    font-size: 60px;
  }
  li {
    display: inline;
    padding: 10px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}

.name {
  font-style: italic;
}

p {
  font-weight: lighter;
  margin: 10px 0 0 0;
}

.big-arrow {
  font-size: 50px;
}

.big-arrow:hover {
  font-size: 60px;
}
