.navbar {
  max-height: 100px;
  justify-content: space-between;
  align-items: start;
  background-color: transparent;
  background: transparent;
}

.plus-navbar {
  margin-top: 105px;
}

.contact {
  color: #f5ff04;
}
