.my-navbar {
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: transparent;
  background: transparent;
  position: sticky;
  top: 16px;
  margin: 16px;
}

.contact {
  color: #f5ff04;
}

.contact:hover {
  color: #f5ff04;
}
