@media (min-width: 769px) {
  .imgs {
    max-width: 624px;
    margin: 15px;
  }
  .imgs.small {
    max-width: 312px;
    margin: 15px;
  }
}

@media (max-width: 768px) {
  .imgs {
    max-width: 320px;
  }
  .imgs.small {
    max-width: 160px;
  }
}

.image {
  display: flex;
  justify-content: center;
}

.project {
  background-color: rgba(247, 251, 151, 0.55);
  padding: 8px 40px;
  border-radius: 8px;
  margin: 16px;
}

.name {
  font-style: italic;
  font-size: x-large;
}

.description {
  font-size: smaller;
}