.gifs {
  max-width: 700px;
  margin: 15px;
}

.image {
  display: flex;
  justify-content: center;
}

.projet {
  background-color: rgba(245, 255, 4, 0.2);
  padding: 8px;
  border-radius: 8px;
  margin: 16px;
}

