@media (min-width: 769px) {
  .imgs {
    max-width: 624px;
    margin: 15px;
  }
}

@media (max-width: 768px) {
  .imgs {
    max-width: 320px;
  }
}

.image {
  display: flex;
  justify-content: center;
}

.project {
  background-color: rgba(245, 4, 4, 0.3);
  padding: 8px 40px;
  border-radius: 8px;
  margin: 16px;
}
